{% INCLUDECSS '@phpbbmodders_documentation/documentation.css' %}
{% include 'overall_header.html' %}
<div class="documentation-search-page">
	<h2>{{ lang('DOCUMENTATION_SEARCH') }}</h2>
	{% include '@phpbbmodders_documentation/documentation_search_form.html' %}
	<p><a href="{{ U_DOCUMENTATION_SEARCH_BACK|e }}">{{ lang('DOCUMENTATION_SEARCH_BACK') }}</a></p>
	<div data-doc-search
		data-doc-search-bundles="{{ DOCUMENTATION_SEARCH_BUNDLES|e }}"
		data-doc-search-links="{{ DOCUMENTATION_SEARCH_LINKS|e }}"
		data-doc-search-messages="{{ DOCUMENTATION_SEARCH_MESSAGES|e }}"
		data-doc-search-query="{{ DOCUMENTATION_SEARCH_QUERY|e }}">
		<noscript><p>{{ lang('DOCUMENTATION_SEARCH_NEEDS_JS') }}</p></noscript>
	</div>
</div>
{% INCLUDEJS 'js/documentation-search.js' %}
{% include 'overall_footer.html' %}
